				<!-- <div class="mnlateral"><a href="/">Home</a></div> -->
				<div class="mnlateral"><%=link_to "Notícias", noticias_path%></div>
				<div id="accordion">
					<h3><a href="#">Produtos</a></h3>
					<div>
						<%Section.all(:conditions => ['published = 1']).each do |s|%>
							<%=link_to s.title, linha_path(s)%><br>
						<%end%>
					</div>
					<h3><a href="#">Serviços</a></h3>
					<div>
						<%=link_to "Locação de Impressoras", locacao_path%><br>
						<%=link_to "Assistência Técnica", assistencia_path%><br>
						<%=link_to "Venda Direta dos Distribuidores", vendadireta_path%>
						<%=link_to "Impressão sob Demanda", impressao_path%>
					</div>
				</div>
				<div class="mnlateral"><%=link_to "Biblioteca", biblioteca_path%></div>
				<div class="mnlateral"><%=link_to "Sustentabilidade", sustentabilidade_path%></div>