<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Grupo RECOM - Toners, Cartuchos e Locação de Impressoras</title>
<%= stylesheet_link_tag "home"%>
<%= javascript_include_tag "jquery/jquery-1.4.2.min" %>
<%= javascript_include_tag "jquery/jcycle" %>
<%= javascript_include_tag :defaults %>


<SCRIPT language="JavaScript">
	<!--
	$j(function() {  
		$j('#cyclen').show(); //exibe a div pai  
			$j('#cyclen').cycle({  
			fx:     'fade',  
			timeout: 5000,  
			speed: 500
		}); 	 
	});
	// -->
	
$j(document).ready(function(){	
	$j("#Header #Menu li").click(function(){
    	window.location=$j(this).find("a").attr("href");return false;
	});
}); //close doc ready

function Clear(type)
{
	if(type == "onblur")
	{
		if (document.getElementById("newsletter_email").value == "")
		{
			document.getElementById("newsletter_email").value = "Digite o seu e-mail";
		}
	}
	else
	{
		if (document.getElementById("newsletter_email").value == "Digite o seu e-mail")
		{
			document.getElementById("newsletter_email").value = "";
		}	
	}
	
}
	</SCRIPT>
</head>
<body>
	<div id="Geral">
		<div id="Header">
			<div id="Logo"><%=link_to image_tag("logo_home.jpg"), home_path%></div>
			<div id="Menu">
				<ul>
					<li><%=link_to "home", home_path%></li>
					<li><%=link_to "institucional", institucional_path%></li>
					<li><%=link_to "contato", sitecontacts_path%></li>
				</ul>
			</div>
		</div>
		
		<div id="Highlight">
			<!--<%=image_tag("dest_home.jpg")%> -->
			<object id="myFlashMovie" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="978" height="440" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0">
			<param name="movie" value="/Main.swf" />
			<param name="quality" value="high" />
			<param name="wmode" value="transparent" /> <embed type="application/x-shockwave-flash" width="978" height="440" src="/Main.swf" name="myFlashMovie" quality="high" wmode="transparent" allowscriptaccess="sameDomain" pluginspage="http://www.macromedia.com/go/getflashplayer" align="middle"></embed>
			</object>

		</div>
		
		<div id="Toolbar">
			<div id="Busca">
				<form id="form" action="/busca" method="get">
						<input type="text" class="form" value="busca" class="form" name="s">
						<input type="image" src="/images/ico_busca_b.png" width="18" height="16" border="0" align="absmiddle">
				</form>
			</div>
			
			<div id="Noticias">
				<div id="cyclen"> 
				<%if !@Noticias.blank?%>
					<%@Noticias.each do |n|%>
						<div>
							<span class="Data"><%=n.created_at.to_date.strftime("%d/%m/%Y")%></span>
							<span class="Texto"><%=truncate(n.summary, 100, "")%></span>
						</div>
					<%end%>
				<%end%>
				</div>
			</div>
			
		</div>
		
		<div id="ContentBox">
			<div class="Box">
				<span class="Imagem"><%=image_tag("dest_sustentabilidade.jpg")%></span>
				<p>A sustentabilidade é uma palavra consideravelmente recente, relativamente ao sistema educacional, e tem vindo a alcançar significados muito diversificados na sociedade e cultura actual. Confira as ações sociais do Grupo RECOM</p>
				<p class="Botao"><%=link_to image_tag("botoes/vejamais.gif"), sustentabilidade_path%></p>
			</div>
			
			<div class="Box">
				<span class="Imagem"><%=image_tag("dest_promocoes.jpg")%></span>
				<p>Fique por dentro de nossas promoções e concorra a prêmios! O que está esperando? Participe! </p>
				<p class="Botao"><%=link_to image_tag("botoes/vejamais.gif"), promocoes_path%></p>
			</div>
			
			<div class="Box">
				<span class="Imagem"><%=image_tag("dest_newsletter.jpg")%></span>
				<div id="update_newsletter">
					<p>Fique por dentro do que acontece no GRUPO RECOM, cadastre-se para receber nossas newsletters.</p>
					<p class="Botao">
						<% remote_form_for Newsletter.new, :update => "update_newsletter", :loading => "$('loading-newsletter').show();", :loaded => "$('loading-newsletter').hide();" do |f| %>
							<label>
								<%=f.text_field :email, :value => "Digite o seu e-mail",  :class => "form", :onfocus => "Clear('onfocus')", :onblur => "Clear('onblur')"%> 
							</label>
							<%= image_submit_tag "botoes/enviar.gif", :style => "vertical-align:middle;" %>
							
							<%= image_tag "loading.gif", :style => 'display:none;', :id => 'loading-newsletter' %>
							<% end %>
					</p>
				</div>
			</div>
		</div>
		
		<div id="Footer">
			<div id="Copyright">
				Recom Representações e Serviços de Informática<br>
				Praça Afonso de Albuquerque, 14<br>
				CEP - 03316-080 - Tatuapé - São Paulo/SP<br>
				2010 ® Grupo RECOM
			</div>
			<div id="Menu"><%=link_to "Responsabilidade Social", sustentabilidade_path%>  | <!-- <%=link_to "Trabalhe Conosco", sustentabilidade_path%>  |--> <%=link_to "Mapa do Site", mapadosite_path%></div>
		</div>
	</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-16155108-1");
pageTracker._trackPageview();
} catch(err) {}</script>	
</body>
</html>
